<!DOCTYPE html>
<html>
<head>
  <title><%= title_for(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="jumbotron">
    <h1 id="jumbotron-h1">BlocItOff</h1>
    <p id="jumbotron-p">The world's favorite self destructing to-do list!</p>
    <div id="jumbotron-b">
      <p><%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2 class="header-h2">Never Have Your List Pile Up Again</h2>
          <div class="thumbnail">
            <img class="support-pics" src=<%= asset_path('messy_papers.jpg') %>>
          </div>
      </div>
      <div class="col-md-4">
        <h2 class="header-h2">Create Urgency With Timelines</h2>
          <div class="thumbnail">
            <img class="support-pics" src=<%= asset_path('happy_people.jpg') %>>
          </div>
      </div>
      <div class="col-md-4">
        <h2 class="header-h2">Take Control Of Your Life Today!</h2>
          <div class="thumbnail">
            <img class="support-pics" src=<%= asset_path('woman.png') %>>
          </div>
      </div>
    </div>
  </div>
</body>
</html>
