<% if @item.valid? %>
  $('.js-items:last').append("<%= j(render(@item)) %>");
  $('.new-item').html("<%= j(render partial: 'items/form', locals: { user: @user, item: @user.items.build }) %>");
  $('.flash').html("<div class='alert alert-success'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash[:notice] %></div>");
<% else %>
  $('.flash').html("<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash[:error] %></div>");
  $('.new-item').html("<%= j(render partial: 'items/form', locals: { user: @user, item: @user.items.build }) %>");
<% end %>
